// place the elements in coloumn
@mixin  flexcolumn(
  $rowgap: 10px,
  $alignitems: center,
  $justifycontent: center
) {
  display: flex;
  flex-direction: column;
  row-gap: $rowgap;
  align-items: $alignitems;
  justify-content: $justifycontent;
}

@mixin fPicture($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}