* {
  margin: 0;
  padding: 0;
}
// give font

body {
  font-family: $defaultgfont;
}

// scroll smoothly
html {
  scroll-behavior: smooth;
}

// give padding inside of four sections

.about, .projects, .skills, .education{
  padding: 3%;
}

// place the children from first article in column

section > article:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// set the size of h2 element from first article.
section > article:nth-child(1) h2 {
  font-size: 35px;
  // change the color of h2
  background-image: linear-gradient(180deg,blue 0,#57f3f3);
  color: white;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

// set the size of p element from first article.

section > article:nth-child(1) p {
  width: 85%;
  text-align: center;
}