@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600;700&display=swap&#39;');

$defaultgfont:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$defaultcolor: cyan;

$color1: #0d6efd;
$color2: #ffc107;